*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    position: relative;
    
}
.nav{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.list{
    margin-top: 16px;
}
.options{
    background-color: rgba(255, 166, 0, 0.137);
    width: 150px;
    position: absolute;
    right: 180px;
    visibility: hidden;
}
#feature:hover .options{
    visibility: visible;
    }
.options a{
    padding-top: 20px;
}
.list a:hover{
    color: rgb(255, 119, 0);
}
.list a,.options a{
    text-decoration: none;
    font-weight: 800;
    font-size: 1.5rem;
    padding-right: 50px;
}
.list :first-child{
    color: rgb(255, 119, 0);
}
.nav i{
    position:absolute ;
    right: 80px;
    visibility: hidden;
}
header{
    height: 100vh;
    display: flex;
}
.left{
    width: 33%;
    height: 100%;
}
.right{
    background-image: url(https://themewagon.github.io/klassy-cafe/assets/images/slide-02.jpg);
    background-size: cover;
    width: 67%;
    /*height: 100%;*/             /* ????????????? */
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://themewagon.github.io/klassy-cafe/assets/images/top-left-bg.jpg);
    height: 100%;                   /*?????????????*/
    /* padding: 314px; */
}
.innnercontent{
    height: 20px;
    width: 50px;
    background-color: #fff;    /* why color not applied?????????*/
}
.innercontent h1{
    font-family: cursive;
    font-size: 3rem;
    font-weight: 100;
    color: #fff;
}
.innercontent p{
    color: #fff;
}
.innercontent button{
    color: rgb(255, 119, 0);
    background-color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border-style: none;
    border-radius: 3px;
    font-weight: 800;
}
button:hover{
    opacity: 0.8;
    transition-duration: 1s;
}
.about{
    display: flex;
    padding-bottom: 100px;
    /* height: 800px; */
    /* background-color: rgb(112, 193, 216); */
    justify-content: center;
    align-items: center;
}

.menu{
    /* padding: 100px 0 100px 240px; */
    /* height: 800px; */
    background-color: rgba(255, 166, 0, 0.048);
    padding-bottom: 100px;
}
.menu .heading{
    max-width: 800px;
    padding: 100px 0 100px 240px; 
}
.card{
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 100px; */
    justify-content: space-evenly;
    width: 100vw;
    /* overflow:hidden; */
}
.card1,.card2,.card3,.card4,.card5,.card6{
    max-width: 280px;
    height: 400px;
    margin-left: 10px;
    background-size: cover;
    /* padding-left: 30px; */
    position: relative;
}.card img{
    height: 100%;
    width: 100%;
}
.card1{
    background-image: url(https://themewagon.github.io/klassy-cafe/assets/images/menu-item-02.jpg);
}
.card2{
    background-image: url(https://themewagon.github.io/klassy-cafe/assets/images/menu-item-04.jpg);
}
.card3{
    background-image: url(https://themewagon.github.io/klassy-cafe/assets/images/menu-item-01.jpg);
}
.card4{
    background-image: url(https://themewagon.github.io/klassy-cafe/assets/images/menu-item-03.jpg);
}
.card5{
    background-image: url(https://themewagon.github.io/klassy-cafe/assets/images/menu-item-04.jpg);
}
/* .card6{
    background-image: url(https://themewagon.github.io/klassy-cafe/assets/images/menu-item-04.jpg);
} */
.cost{
    background-color: rgb(255, 119, 0);
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 15px;
}
.incard{
    background-color: rgb(255, 119, 0);
    color: white;
    position: relative;
    padding: 25px 0 0 20px;
    width: 280px;
    height: 200px;
    top: 93%;
    transition:all 1s;
    /* left: 0px; */
}
.crd{
    overflow: hidden;
}
.incard h3{
    font-size: 2rem;
}
.crd:hover .incard{
    /* top:60%; */
    transform: translateY(-150px);
}

.aboutLeft{
    padding-top: 65px;
}
.aboutLeft,.aboutRight{
    max-width: 600px;
    padding-left: 50px;
    /* height: 80%; */
    background-color: #fff;
    /* margin-top: 20px; */
    
}
.aboutRight img{
    width: 100%;
}
.aboutLeft div{
    margin-top: 20px;
    /* height: 30%; */
}
.aboutRight{
    margin-bottom: 20px;

}
.heading span{
    letter-spacing: -1.4px;
    padding-right: 6px;
}
.heading{
    font-size: 1.5rem;
}
.heading h6{
    color: rgb(255, 119, 0);
    font-weight: 100;
}
.heading h2{
    margin-top: 20px;
    width: 80%;
}
.aboutLeft p{
    line-height: 2rem;
    margin-top: 20px;
    font-size: 1.2rem;
}
.aboutImages{
    display: flex;
    justify-content: space-around;
    /* height: 400px; */
}
.aboutImages img{
    width: 100%;
}
.img1{
    width: 170px;
    height: 170px;
}
.chefs{
    padding-bottom: 100px;
}
.chefs h6,#h2{
    max-width: 400px;
}
.chefs .heading,.klassyWeek .heading
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}
.chefsCard{
    border: 1.5px solid;
    height: 480px;
    max-width: 100%; /*390px*/
    border-radius: 5px;
    position: relative;
    margin: 20px;
}
.chefsbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 100px;
    max-width: 1350px;
    margin: auto;
}
.opacity{
    width: 95%;
    height: 80%;
    /* position: absolute; */
    margin: 10px 0 0 10px;
    background-color: rgb(56, 56, 56);
}
.photo{
    width: 95%;
    height: 80%;
    position: absolute;
    margin: 10px 0 0 10px;
}
.photo img{
    width: 100%;
    height: 100%;
}
.photo{
    z-index: 1;
}
.name{
    width: 370px;
    height: 100px;
    margin: auto;
    font-size: 3rem;
    text-align: center;
    padding-top: 15px;
}
.name p{
    font-size: 1rem;
    
}
.chefsCard:hover .name h6{
    color: rgb(255, 119, 0);
    transition-duration: .4s;
}
.chefsCard:hover .icon div{
    z-index: 2;
}
.chefsCard:hover .photo{
    opacity: .1;
    transition-duration: .4s;
}
.chefsCard:hover{
    border: 1.5px solid rgb(255, 119, 0);
    transition-duration: .4s;
}
.icon div:hover{
    background-color: rgb(255, 119, 0);
    /* transition-duration: .4s; */
}
.icon{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 60%;
    top: 170px;
    left: 65px;
}
.icon2 {
    display: flex;
    justify-content: center;
    position: relative;
    width: 36%;
    bottom: 40px;
    margin: auto;
    background-color:  rgb(255, 119, 0);
    padding: 35px 30px;
    border-radius: 50px;
    font-size: 1.5rem;
}
.icon div{
    position: relative;
    background-color: #fff;
    height: 50px;
    width: 50px;
    padding: 19px;
    margin-left: 20px;
    border-radius: 50px;
}
.contact{
    display: flex;
    justify-content: center;
    color: white;
    background-image: url(https://themewagon.github.io/klassy-cafe/assets/images/reservation-bg.jpg);
    /* height: 100vh; */
    /* background-size: cover;
    width: 100%; */
}
.contact p{
    margin-top: 20px;
    font-size: 1rem;
}
.contactRight{
    /* text-align: center; */
    background-color: #fff;
    color: #000000;
    border-radius: 5px;
}
.contactRight>div{
    margin: 25px 0 ;
}
.contactRight h1{
    margin: 40px;
}
.contactRight textarea,.contactRight .button{
    width: 81%;
    margin: 0 9%;
    border-radius: 5px;
}
.contactRight .button{
    background-color: rgb(255, 119, 0);
    padding: 10px;
    margin-bottom: 60px;
}
.contactLeft,.contactRight{
    width: 38vw;
    margin: 70px 0;
    
    /* height: 70vh; */
}
.contactLeft .heading h2{
    max-width: 90%;
}
.details{
    display: flex;
    justify-content: space-between;
    width: 89%;
    margin: 80px 0;
}

.phone,.email{
    width: 48%;
    background-color: #fff;
    color: #000000;
    border-radius: 6px;
    text-align: center;
    padding-bottom: 30px;
}
.phone a,.email a{
    display: block;
    cursor: pointer;
}
.phone h1,.email h1{
    margin-bottom: 20px;
}
fieldset{
    width: 79%;
    padding: 15px 0 15px 10px;
    margin: 20px 15px 0 0;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid grey;
}
.input{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
fieldset>div{
    margin-top: 120px ;
}
fieldset>input ,fieldset>select{
    border-style: none;
    text-decoration: none;
    outline: none;
    appearance: none;
    padding-right: 36px;
}
select{
    color: grey;
    padding-right: 36px;
}
.button,.button button{
    border: none;
    color: white;
    background-color: rgb(255, 119, 0);
    cursor: pointer;
    font-size: large;
}
.klassyList li{
    list-style: none;
    background-color: rgba(255, 119, 0, 0.082);
    padding: 20px 40px;
    border-radius: 5px;
    margin: 0px 10px;
    cursor: pointer;
}
.klassyList{
    display: flex;
    margin: 70px;
}
.klassyWeek{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
    max-width: 100%;
    margin: auto;
}
.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.last{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.last div:nth-child(2){
    width: 60%;
    padding-left: 10px;
}
.last :nth-child(3){
    background-color: rgb(255, 119, 0);
    height: 80px;
    width: 80px;
    padding: 24px;
}
.last div:nth-child(3){
    margin-top: 5px;
    border-radius: 5px;
}
.last img{
    border-radius: 7px;
}
.div li{
    background-color: white;
    padding: 22px 24px;
    border-radius: 50px;
    margin-left: 20px;
    cursor: pointer;
}
.div ul{
    display: flex;
    list-style: none;
} 
.div p{
    color: white;
}
footer{
    background-color: rgb(255, 119, 0);
    display: flex;
    justify-content: space-around;
    padding: 60px 0 50px 0;
}
@media (max-width:768px){
    .list{
        display: none;
    }
    .menubar i{
        visibility: visible;
        margin-top: 16px;
    }
    .contact{
        display: block;
    }
    
    .contactLeft,.contactRight{
        width: 100%;
    }
}
@media (max-width:375px){
    .menubar i{
        right: 40px;
    }
    .menu .heading{
        padding-left: 9px;
    }
    footer{
        flex-wrap: wrap;
    }
    
}
@media (min-width:994px){
    .list{
        padding-right: 10px;
    }
}
@media (max-width:500px){
    .left,.right{
        width: 100%;
        height: 100%;
    }
    header{
        display: block;
    }
    .parent{
        display: block;
        width: 100%;
    }
    .crd{
        margin-top: 20px;
    }
    footer>div{
        padding-top: 20px;
    }
    .details{
        display: block;
        margin: auto;
    }
    .phone,.email{
        width: 85%;
        margin: 20% auto;
    }
    .contactLeft .heading{
        padding: 15px 0 0 15px;
    }
}
@media (max-width:1024px){
    .img1{
        width: 120px;
        height: 120px;
    }
    /* .aboutRight{
        width: 200px;
    } */
}
@media (max-width:768px){
    .about{
        display: block;
    }
    .aboutRight{
        margin-top: 50px;
    }
}